/*GENERAL*/
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
    font-size: 15px;
}
ul
{
    list-style: none;
}

h1
{
    font-family: 'crete Round';
    font-size: 45px;
    color: #444;
}
h2
{
    margin-top: 150px;
    font-size: 45px;
    margin-left: 200px;
    text-transform: uppercase;
}
h4
{
    color: #444;
    font-size: 24px;
}
p
{
    color: #777;
    line-height: 20px;
}
.orange
{
    color: orangered;
}
.wraper
{
    width: 940px;
    margin: auto;
    padding: 10px;
}
a
{
    text-decoration: none;
    color: #444;
}

/*HEADER*/
header
{
    height: 120px;
}
header h1
{
    float: left;
    margin-top:32px;
}
header nav
{
    float: right;
    margin-top: 50px;
}
header nav ul li
{
    float: left;
    display: inline-block;
}
header nav ul li a
{
    font-weight: bold;
    margin-right: 20px;
}
/*main_image*/
.organise
{
    margin-left: 45px;
}
.trip
{
    font-weight: bolder;
    
}
div a
{
    margin-left: 400px;
    margin-top: 300px;
    color: white;
    background-color: darkorange;
    padding: 8px 15px;
}
div a:hover
{
    background:red;
}
header img
{
    height: 450px;
    width: 1345px;
    margin-top: 40px;
}
/*steps*/
#steps ul
{
    
}
#steps ul li
{
    width: 435px;
    float: left;
}
#steps h4
{
    margin-bottom: 20px;
}

#image-1 {
    margin-top: 50px;
    margin-left: 180px;
    border: 2px solid black;
    width: 90px;
    height: 90px;
    border-radius:50px;
    text-align: center;
}
#image-2 {
    margin-top: 50px;
    margin-left: 180px;
    border: 2px solid black;
    width: 90px;
    height: 90px;
    border-radius:50px;
    text-align: center;
}
#image-3 {
    margin-top: 50px;
    margin-left: 180px;
    border: 2px solid black;
    width: 90px;
    height: 90px;
    border-radius:50px;
    text-align: center;
}
#step-1
{
   margin-left: 165px;
}
#step-2
{
   margin-left: 145px;
}
#step-3
{
   margin-left: 165px; 
}